<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
   <div>
    <p> Aujourd'hui on est le {{ "now"|date("m/d/Y") }}</p>
    <h1> Hello {{ prenom | capitalize }} {{ nom | capitalize }}</h1>
    
   </div>
</body>
</html>

