<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }} {{ firstname }}</title>
</head>
<body>
   <div>
    <h1> With {{ name }} {{ firstname }}</h1>
    <p>Hello People</p>
   </div>
</body>
</html>

